body {
	background: url('http://centralconnect.me/Spotify-Video/Spotify-Background.jpg') no-repeat;
}
	
.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -325px;
}